<a id="item31"></a>

## Analysing the concerete data set using Regression NN model

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [208]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [209]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()
#print(type(concrete_data))

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [210]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [211]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [212]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [213]:
df_columns = concrete_data.columns

#predictors = concrete_data.loc[df_columns[concrete_data_columns != 'Strength']] # all columns except Strength
predictors = concrete_data.loc[:,df_columns != 'Strength']
print(predictors.shape)
target = concrete_data['Strength'] # Strength column
print(target.shape)

(1030, 8)
(1030,)

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [214]:
predictors.head()
#predictors.mean()
#print(predictors.std())

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [215]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [216]:
#Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [217]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [218]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [219]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [220]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(ncols,)))
    #model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has one hidden layers, each of 10 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's Split data into training and test sets.

In [221]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

print(predictors_norm)

        Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
0     2.476712           -0.856472 -0.846733 -0.916319         -0.620147
1     2.476712           -0.856472 -0.846733 -0.916319         -0.620147
2     0.491187            0.795140 -0.846733  2.174405         -1.038638
3     0.491187            0.795140 -0.846733  2.174405         -1.038638
4    -0.790075            0.678079 -0.846733  0.488555         -1.038638
...        ...                 ...       ...       ...               ...
1025 -0.045623            0.487998  0.564271 -0.092126          0.451190
1026  0.392628           -0.856472  0.959602  0.675872          0.702285
1027 -1.269472            0.759210  0.850222  0.521336         -0.017520
1028 -1.168042            1.307430 -0.846733 -0.279443          0.852942
1029 -0.193939            0.308349  0.376762  0.891286          0.400971

      Coarse Aggregate  Fine Aggregate       Age
0             0.862735       -1.217079 -0.279597
1             1.055651       -1.217079 -0.279597
2            -0.526262       -2.239829  3.551340
3            -0.526262       -2.239829  5.055221
4             0.070492        0.647569  4.976069
...                ...             ...       ...
1025         -1.322363       -0.065861 -0.279597
1026         -1.993711        0.496651 -0.279597
1027         -1.035561        0.080068 -0.279597
1028          0.214537        0.191074 -0.279597
1029         -1.394385       -0.150675 -0.279597

[1030 rows x 8 columns]

In [222]:
#split the data into training and test set 
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

In [223]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(721, 8)
(309, 8)
(721,)
(309,)

In [224]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [226]:
# fit the model
model.fit(X_train, y_train, validation_split=0.3, epochs=100, verbose=2)

Train on 504 samples, validate on 217 samples
Epoch 1/100
 - 0s - loss: 772.2417 - val_loss: 717.2905
Epoch 2/100
 - 0s - loss: 750.0598 - val_loss: 697.1669
Epoch 3/100
 - 0s - loss: 728.3811 - val_loss: 676.9986
Epoch 4/100
 - 0s - loss: 707.0036 - val_loss: 657.2732
Epoch 5/100
 - 0s - loss: 685.8701 - val_loss: 637.7840
Epoch 6/100
 - 0s - loss: 665.1711 - val_loss: 618.9713
Epoch 7/100
 - 0s - loss: 645.3066 - val_loss: 600.3173
Epoch 8/100
 - 0s - loss: 625.2896 - val_loss: 582.3871
Epoch 9/100
 - 0s - loss: 606.2241 - val_loss: 564.4461
Epoch 10/100
 - 0s - loss: 587.4276 - val_loss: 546.9002
Epoch 11/100
 - 0s - loss: 569.2217 - val_loss: 529.7658
Epoch 12/100
 - 0s - loss: 551.5859 - val_loss: 512.8090
Epoch 13/100
 - 0s - loss: 534.1836 - val_loss: 496.8550
Epoch 14/100
 - 0s - loss: 517.5500 - val_loss: 481.1758
Epoch 15/100
 - 0s - loss: 501.4475 - val_loss: 465.8988
Epoch 16/100
 - 0s - loss: 485.8761 - val_loss: 450.7315
Epoch 17/100
 - 0s - loss: 470.2543 - val_loss: 436.6921
Epoch 18/100
 - 0s - loss: 455.8114 - val_loss: 422.6621
Epoch 19/100
 - 0s - loss: 441.7449 - val_loss: 408.8514
Epoch 20/100
 - 0s - loss: 427.7219 - val_loss: 396.0002
Epoch 21/100
 - 0s - loss: 414.8149 - val_loss: 383.3038
Epoch 22/100
 - 0s - loss: 402.1305 - val_loss: 370.9855
Epoch 23/100
 - 0s - loss: 390.1071 - val_loss: 359.1898
Epoch 24/100
 - 0s - loss: 378.1645 - val_loss: 347.9921
Epoch 25/100
 - 0s - loss: 366.9162 - val_loss: 337.2641
Epoch 26/100
 - 0s - loss: 356.3065 - val_loss: 326.6813
Epoch 27/100
 - 0s - loss: 345.8950 - val_loss: 316.7349
Epoch 28/100
 - 0s - loss: 336.1952 - val_loss: 306.9367
Epoch 29/100
 - 0s - loss: 326.4555 - val_loss: 297.8312
Epoch 30/100
 - 0s - loss: 317.7211 - val_loss: 288.7189
Epoch 31/100
 - 0s - loss: 308.7445 - val_loss: 280.4210
Epoch 32/100
 - 0s - loss: 300.7953 - val_loss: 272.1258
Epoch 33/100
 - 0s - loss: 292.7097 - val_loss: 264.4295
Epoch 34/100
 - 0s - loss: 285.2550 - val_loss: 257.1446
Epoch 35/100
 - 0s - loss: 278.0864 - val_loss: 250.1014
Epoch 36/100
 - 0s - loss: 271.2538 - val_loss: 243.4503
Epoch 37/100
 - 0s - loss: 264.8099 - val_loss: 236.9289
Epoch 38/100
 - 0s - loss: 258.4532 - val_loss: 230.9311
Epoch 39/100
 - 0s - loss: 252.7360 - val_loss: 225.0926
Epoch 40/100
 - 0s - loss: 246.8516 - val_loss: 219.8371
Epoch 41/100
 - 0s - loss: 241.7214 - val_loss: 214.6378
Epoch 42/100
 - 0s - loss: 236.5258 - val_loss: 209.7444
Epoch 43/100
 - 0s - loss: 231.8929 - val_loss: 204.9058
Epoch 44/100
 - 0s - loss: 227.1632 - val_loss: 200.6518
Epoch 45/100
 - 0s - loss: 222.8127 - val_loss: 196.5863
Epoch 46/100
 - 0s - loss: 218.7932 - val_loss: 192.5656
Epoch 47/100
 - 0s - loss: 214.8752 - val_loss: 188.7741
Epoch 48/100
 - 0s - loss: 210.9321 - val_loss: 185.4915
Epoch 49/100
 - 0s - loss: 207.5690 - val_loss: 182.1431
Epoch 50/100
 - 0s - loss: 204.1665 - val_loss: 179.1673
Epoch 51/100
 - 0s - loss: 200.9500 - val_loss: 176.3571
Epoch 52/100
 - 0s - loss: 198.0360 - val_loss: 173.6671
Epoch 53/100
 - 0s - loss: 195.1786 - val_loss: 171.2626
Epoch 54/100
 - 0s - loss: 192.5918 - val_loss: 168.8842
Epoch 55/100
 - 0s - loss: 189.9524 - val_loss: 166.8183
Epoch 56/100
 - 0s - loss: 187.6083 - val_loss: 164.7875
Epoch 57/100
 - 0s - loss: 185.2689 - val_loss: 162.9995
Epoch 58/100
 - 0s - loss: 183.1748 - val_loss: 161.2654
Epoch 59/100
 - 0s - loss: 180.9729 - val_loss: 159.7358
Epoch 60/100
 - 0s - loss: 179.1756 - val_loss: 158.1124
Epoch 61/100
 - 0s - loss: 177.1779 - val_loss: 156.7925
Epoch 62/100
 - 0s - loss: 175.5253 - val_loss: 155.5859
Epoch 63/100
 - 0s - loss: 173.8504 - val_loss: 154.2709
Epoch 64/100
 - 0s - loss: 172.1849 - val_loss: 153.1854
Epoch 65/100
 - 0s - loss: 170.7000 - val_loss: 152.0880
Epoch 66/100
 - 0s - loss: 169.2952 - val_loss: 151.0703
Epoch 67/100
 - 0s - loss: 167.8261 - val_loss: 150.1308
Epoch 68/100
 - 0s - loss: 166.5863 - val_loss: 149.1708
Epoch 69/100
 - 0s - loss: 165.1916 - val_loss: 148.4979
Epoch 70/100
 - 0s - loss: 164.0416 - val_loss: 147.8251
Epoch 71/100
 - 0s - loss: 162.7943 - val_loss: 147.0963
Epoch 72/100
 - 0s - loss: 161.6461 - val_loss: 146.3799
Epoch 73/100
 - 0s - loss: 160.5196 - val_loss: 145.6983
Epoch 74/100
 - 0s - loss: 159.5638 - val_loss: 145.1784
Epoch 75/100
 - 0s - loss: 158.5223 - val_loss: 144.6844
Epoch 76/100
 - 0s - loss: 157.6119 - val_loss: 144.1844
Epoch 77/100
 - 0s - loss: 156.5997 - val_loss: 143.7904
Epoch 78/100
 - 0s - loss: 155.7347 - val_loss: 143.3551
Epoch 79/100
 - 0s - loss: 154.8436 - val_loss: 142.9807
Epoch 80/100
 - 0s - loss: 154.0382 - val_loss: 142.6302
Epoch 81/100
 - 0s - loss: 153.1646 - val_loss: 142.3686
Epoch 82/100
 - 0s - loss: 152.3570 - val_loss: 141.9736
Epoch 83/100
 - 0s - loss: 151.5343 - val_loss: 141.6266
Epoch 84/100
 - 0s - loss: 150.7863 - val_loss: 141.4507
Epoch 85/100
 - 0s - loss: 149.9842 - val_loss: 141.1444
Epoch 86/100
 - 0s - loss: 149.2849 - val_loss: 140.7884
Epoch 87/100
 - 0s - loss: 148.4927 - val_loss: 140.5008
Epoch 88/100
 - 0s - loss: 147.7530 - val_loss: 140.2222
Epoch 89/100
 - 0s - loss: 147.0334 - val_loss: 140.0152
Epoch 90/100
 - 0s - loss: 146.3595 - val_loss: 139.8193
Epoch 91/100
 - 0s - loss: 145.5747 - val_loss: 139.5282
Epoch 92/100
 - 0s - loss: 144.9602 - val_loss: 139.1463
Epoch 93/100
 - 0s - loss: 144.2155 - val_loss: 138.9410
Epoch 94/100
 - 0s - loss: 143.5423 - val_loss: 138.6988
Epoch 95/100
 - 0s - loss: 142.8440 - val_loss: 138.4105
Epoch 96/100
 - 0s - loss: 142.1544 - val_loss: 138.0629
Epoch 97/100
 - 0s - loss: 141.4736 - val_loss: 137.8337
Epoch 98/100
 - 0s - loss: 140.8872 - val_loss: 137.6808
Epoch 99/100
 - 0s - loss: 140.1536 - val_loss: 137.3347
Epoch 100/100
 - 0s - loss: 139.5685 - val_loss: 137.0707

In [227]:
#evaludate the model with Mean_squared_error
model.evaluate(X_test, y_test, verbose=0)

#calculate MSE for the model 
y_pred=model.predict(X_test)
print(mean_squared_error(y_test, y_pred))

142.6932283163532

In [228]:
# Train the model with epoc=50 & calcute the MSE for each epoch 
num_epochs = 100
mse_list = []
for epoch in range(num_epochs):
    # Train the model on the training data
    model.fit(X_train, y_train, epochs=1, verbose=0)

    # Make predictions on the validation set
    y_pred = model.predict(X_test)

    # Calculate mean squared error for the current epoch
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)
    
    print(f'Epoch {epoch + 1}/{num_epochs}, MSE: {mse}')

Epoch 1/100, MSE: 142.00571982732868
Epoch 2/100, MSE: 141.3941825368123
Epoch 3/100, MSE: 140.65495775479246
Epoch 4/100, MSE: 140.2515303447833
Epoch 5/100, MSE: 139.54931663089837
Epoch 6/100, MSE: 138.8769190125961
Epoch 7/100, MSE: 138.14319425782958
Epoch 8/100, MSE: 137.44995068842806
Epoch 9/100, MSE: 136.80637426934948
Epoch 10/100, MSE: 136.21542309511136
Epoch 11/100, MSE: 135.51901443084085
Epoch 12/100, MSE: 134.81598003870755
Epoch 13/100, MSE: 134.19254547569565
Epoch 14/100, MSE: 133.3858177785203
Epoch 15/100, MSE: 132.81730926167384
Epoch 16/100, MSE: 132.03181374822634
Epoch 17/100, MSE: 131.51646858301154
Epoch 18/100, MSE: 130.71563144488292
Epoch 19/100, MSE: 130.09308896070544
Epoch 20/100, MSE: 129.67902429919235
Epoch 21/100, MSE: 128.90530050018444
Epoch 22/100, MSE: 128.16935077218392
Epoch 23/100, MSE: 127.8179520774663
Epoch 24/100, MSE: 126.91762915798097
Epoch 25/100, MSE: 126.22379573723326
Epoch 26/100, MSE: 125.47932603501245
Epoch 27/100, MSE: 124.65401875744787
Epoch 28/100, MSE: 124.10083095845128
Epoch 29/100, MSE: 123.44342862398602
Epoch 30/100, MSE: 122.58173735891019
Epoch 31/100, MSE: 122.07892558952892
Epoch 32/100, MSE: 121.56403179183866
Epoch 33/100, MSE: 120.73314273516677
Epoch 34/100, MSE: 120.30849458567087
Epoch 35/100, MSE: 119.56782515428294
Epoch 36/100, MSE: 118.99466045061499
Epoch 37/100, MSE: 118.42964488426529
Epoch 38/100, MSE: 117.59812015404968
Epoch 39/100, MSE: 117.0278892019992
Epoch 40/100, MSE: 116.31352444652434
Epoch 41/100, MSE: 115.87394055685725
Epoch 42/100, MSE: 115.45736654772337
Epoch 43/100, MSE: 114.80312866167392
Epoch 44/100, MSE: 114.13278307932514
Epoch 45/100, MSE: 113.57107727235172
Epoch 46/100, MSE: 112.97086754645501
Epoch 47/100, MSE: 112.65460708503952
Epoch 48/100, MSE: 111.91358691385716
Epoch 49/100, MSE: 111.36855858722781
Epoch 50/100, MSE: 110.84158016839405
Epoch 51/100, MSE: 110.54404342086872
Epoch 52/100, MSE: 109.84070458149183
Epoch 53/100, MSE: 109.42975920740056
Epoch 54/100, MSE: 108.75031365647125
Epoch 55/100, MSE: 108.35074390876194
Epoch 56/100, MSE: 107.8422386431553
Epoch 57/100, MSE: 107.54153945231717
Epoch 58/100, MSE: 106.91275778422371
Epoch 59/100, MSE: 106.41338484092651
Epoch 60/100, MSE: 105.97772105378723
Epoch 61/100, MSE: 105.40120431897151
Epoch 62/100, MSE: 104.9192817449171
Epoch 63/100, MSE: 104.56084812217449
Epoch 64/100, MSE: 103.93653217717494
Epoch 65/100, MSE: 103.71913496487444
Epoch 66/100, MSE: 103.24023828659087
Epoch 67/100, MSE: 102.69080822338243
Epoch 68/100, MSE: 102.24943897288982
Epoch 69/100, MSE: 101.78488800137055
Epoch 70/100, MSE: 101.46828005263104
Epoch 71/100, MSE: 101.10731009707565
Epoch 72/100, MSE: 100.74751524327843
Epoch 73/100, MSE: 100.08998384615813
Epoch 74/100, MSE: 99.80136633642813
Epoch 75/100, MSE: 99.46409693089707
Epoch 76/100, MSE: 99.17137225999754
Epoch 77/100, MSE: 98.55460786104275
Epoch 78/100, MSE: 98.2476330824158
Epoch 79/100, MSE: 97.83835351402965
Epoch 80/100, MSE: 97.4076834375611
Epoch 81/100, MSE: 96.99297668484886
Epoch 82/100, MSE: 96.47653562656538
Epoch 83/100, MSE: 96.32677825914429
Epoch 84/100, MSE: 95.95921910287178
Epoch 85/100, MSE: 95.58610605589442
Epoch 86/100, MSE: 95.02459651501549
Epoch 87/100, MSE: 94.91284497538437
Epoch 88/100, MSE: 94.35270044380411
Epoch 89/100, MSE: 94.08290722681903
Epoch 90/100, MSE: 93.73926820405633
Epoch 91/100, MSE: 93.44528460447019
Epoch 92/100, MSE: 92.92539849840978
Epoch 93/100, MSE: 92.70636501056819
Epoch 94/100, MSE: 92.40365752337038
Epoch 95/100, MSE: 92.02300185528426
Epoch 96/100, MSE: 91.62415809440961
Epoch 97/100, MSE: 91.14400929356592
Epoch 98/100, MSE: 90.88182474885596
Epoch 99/100, MSE: 90.34685396582883
Epoch 100/100, MSE: 90.10632494651864

In [229]:
# Calculate mean and standard deviation of MSEs

mean_mse = np.mean(mse_list)
std_mse = np.std(mse_list)
print(f'Mean MSE: {mean_mse}')
print(f'Standard Deviation of MSE: {std_mse}')

Mean MSE: 112.79675983490043
Standard Deviation of MSE: 15.356026451474316